<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yu.kyp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <grant-uri-permission
        android:path="string"
        android:pathPattern="string"
        android:pathPrefix="string" />
    <!-- <uses-permission -->
    <!-- android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18"/> -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <supports-screens android:largeScreens="true" android:anyDensity="true"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MemoListActivity"
            android:label="@string/title_activity_memo_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemoWriteActivity"
            android:label="@string/title_activity_memo_write" >
        </activity>
        <activity
            android:name=".MemoWriteActivity2"
            android:label="@string/title_activity_memo_write_activity2" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".PenPaletteActivity"
            android:label="@string/pen_palette_dialog" >
        </activity>
        <activity
            android:name=".EraserPaletteActivity"
            android:label="" >
        </activity>

        <service
            android:name=".bluno.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".test.ZoomActivity"
            android:label="@string/title_activity_zoom" >
        </activity>
        <activity
            android:name=".TextDialog"
            android:label=""
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".TrashActivity"
            android:label="@string/title_activity_trash"
            android:parentActivityName=".common.activity.ActivityBase" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yu.kyp.common.activity.ActivityBase" />
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".WriteBackgoundSelectActivity"
            android:label="@string/title_activity_write_backgound_select" >
        </activity>
        <activity android:name=".AlarmActivity"
            android:label="">
        </activity>
    </application>

</manifest>
